.new-product {
  width: 100%;

  text-align: center;
  margin-top: 80px;
}
.new-product-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.new-product-list {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.new-product-banner {
  width: 600px;
  height: 700px;
}
@media (max-width: 900px) {
  .new-product-banner {
    width: 500px;
    height: 650px;
  }
}
@media (max-width: 840px) {
  .new-product-container {
    flex-direction: column;
  }
  .new-product-banner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .new-product-banner > div {
    width: 450px;
    overflow: hidden;
  }
}
